<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400"
  rel="stylesheet"
/>

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <a
    style="
      background-color: #007bff;
      padding: 15px 30px;
      color: white;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      font-size: 1.5em;
    "
    href="/stories"
    >Go to /stories</a
  >
</div>
